Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

.idea
Content/ChiHeon
Content/__ExternalActors__
Content/__ExternalObjects__
Content/Characters/Mannequins
Content/Characters/Mannequin_UE4
Content/LevelPrototyping
Content/ThirdPerson
